.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.ball.ball-1 {
  animation: move1 1s forwards infinite;
}

.ball.ball-2 {
  animation: move2 1s forwards infinite;
}

@keyframes move1 {
  from {
    background-color: red;
    transform: translateX(0);
  }

  to {
    background-color: blue;
    transform: translateX(300px);
  }
}

@keyframes move2 {
  from {
    background-color: yellow;
    transform: translateX(300px);
  }

  to {
    background-color: purple;
    transform: translateX(0);
  }
}
